.main{
    min-height: 100vh;
    display: flex;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
}

.header{
    width: 100%;
    padding: 20px 0 30px;
    display: flex;
}

.logo{
    margin: auto;
    max-width: 310px;
    max-height: 122px;
}

.main_paragragh{
    width: 100%;
    background-color: #EFEFEF;
    padding: 38px 18px;
}

.main_paraTittle{
    text-align: center;
    font-weight: 700;
    margin-bottom: 18px;
}

.main_paraContext{
    margin: 0 auto;
    text-align: center;
    max-width: 972px;
}

.paragraphs{
    display: flex;
    gap: 50px;
    margin: 40px 0px;
}

.paragraphTittle {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: calc(28 / 24);
    margin-top: 0;
    margin-bottom: 18px;
}

.paragraphImage{
    float: left;
    margin-right: 16px;
}

.footer{
    width: 100%;
    min-height: 80px;
}

.footerCopyright{
    display: flex;
    color: #3E3E3E;
    margin:0 auto;
}

