.sidebar {
    width: 150px;
    
}

.sidebar__container{
    width: 150px;
    height: 100%;
    background-color: #191718;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    user-select: none;
}

.sidebar__toggle {
    display: none;
    padding: 15px;
    width: 60px;
    height: 100%;
    /* margin-bottom: 15px; */
}

.sidebar__toggle:hover {
    cursor: pointer;
}

.sidebar__toggle:hover

.navigation--item{
    
    display: block;
    font-weight: 700;
    line-height: calc(18.75 / 16);
}

.navigation--item:hover .navigation__link{
    background-color: #5C5C5C;
    color: #fff;
}


.navigation--header .navigation__link{
    color: #fff;
}

.navigation__link{
    color: #AAAAAA;
    display: block;
    padding: 14px 16px 11px;
}

